//== Colors
//
$gray-base: #333333;
$gray-light: #666666;

$footer-main: #ffffff;


//== Typography
//
//## Fonts
$font-brandon: "brandon", sans-serif;
$font-caslon: "caslon", serif;
$font-SKrushnadevaraya: 'Sree Krushnadevaraya', serif;
$font-arial: Arial, sans-serif;